<div class="container-fluid">
  <div class="row">
    <% if !user_signed_in? %>
      <div class="jumbotron">
        <h1>Your Favorite Movies Reviewed</h1>
        <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
        <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
      </div>
    <% end %>
  </div>
  <% if !current_user.has_role? :admin %>
    <%= link_to 'Top Rated Movies', top_rated_movies_movies_path, class: "btn btn-success" %><br><br>
  <% end %>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-3 col-sm-6 col-lg-3 movie-image-style">
          <%= link_to (image_tag movie.avatar.url(:medium), height: '430', width: '350'), movie %>
      </div>
    <% end %>
  </div>
  <br>
  <% if current_user.has_role? :admin %>
    <%= link_to 'Create New Movie', new_movie_path, class: "btn btn-primary" %>
  <% end %>
</div>
