.main-heading {
    color: #1c7430;
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
}
#main-heading-line a:link { text-decoration:none;}
.movie-image-style {
    margin-bottom: 30px;
}
